body {
	margin: 0;
	background-image: url(marcus-ganahl-NyH-jxg-FRU-unsplash.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.button {
	width: 300px;
	height: 60px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	border-radius: 10px;
	background-color: rgb(15, 126, 68);
	text-align: center;
	cursor: pointer;

	color: rgb(255, 255, 255);
	font-size: 20px;
	text-transform: uppercase;
	border: none;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}
.popup {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	background-color: #1a7b21;
	color: #fff;
	text-align: center;
	border-radius: 10px;
}
.close-popup img {
	width: 23px;
	height: 23px;
}
.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}





.img_auto {
	width: 60px;
	background-color: #97d2fd;
	border-radius: 50%;
	padding: 10px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.log img, .pas img {
	width: 30px;
	height: 30px;
}

.overlay_new, .auto {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	display: none;
}
.popup_new {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding: 40px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 10px 10px 30px rgb(180, 179, 179);
	background-color: white;
}
.close-popup_new img, .close-auto img {
	width: 23px;
	height: 23px;
}
.close-popup_new, .close-auto {
	position: absolute;
	top: 15px;
	right: 15px;
	cursor: pointer;
}

.log, .pas  { 
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: center;
}

.log input, .pas input {
	border: none;
	border-bottom: 2px solid rgb(35, 22, 77);
}

.but, .btn{ 
	text-align: center;
	width: 200px;
	padding: 8px 6px ;
	background-color: rgb(143, 143, 250);
	border: none;
}

.but:hover, .btn:hover {
	background-color: rgb(9, 9, 112);
	color: white;
}

